@using Noviembrex.Core.Entidades
@model Nogales
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registro de estado</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form action="@Url.Action("Guardar", "Nogales")">
                            <input type="hidden" class="form-control" name="id" value="@Model.Id">
                            
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input class="form-control" name="nombre" value="@if (Model.Id !=0) { @Model.Nombre}">
                                <label>Apellido:</label>
                                <input class="form-control" name="apellido" value="@if (Model.Id != 0) { @Model.Apellido}">
                                <label>Telefono:</label>
                                <input class="form-control" name="telefono" value="@if (Model.Id != 0) { @Model.Telefono}">
                                <label>Direccion:</label>
                                <input class="form-control" name="direccion" value="@if (Model.Id != 0) { @Model.Direccion}">
                            </div>

                            <button class="btn btn-success" type="submit">Guardar</button>

                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
